<div class="sub-container">

    <h2>DEXF</h2>
    <p> The simplest way to find the best prices for maximum profit!</p>

    <div class="form-and-fav">
        <select class="form-select" aria-label="Default select example" v-model="sell">
            <option v-for="token in tokens" :value="token">{{token.name}}</option>
    
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        </select>
        <div v-if="me.state==1" class="fav-star">
            <button class="fav-btn" @click="addfav(sell.symbol)">&#9733;</button>
        </div>
    </div>

    <div class="form-and-fav">
        <select class="form-select" aria-label="Default select example" v-model="buy">
            <option v-for="token in tokens" :value="token">{{token.name}}</option>
    
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        </select>
        <div v-if="me.state==1" class="fav-star">
            <button class="fav-btn" @click="addfav(buy.symbol)">&#9733;</button>
        </div>
    </div>

    
    <button class="submit-button" type="button" @click="compare(true)"> Compare </button>

</div>