<div class="sub-container">
    <h2>Your Favourite Tokens</h2>
    <!-- <li v-for="fav in me.favourites">{{fav.name}} - ${{fav.price}}</li> -->

    <div class="fav-container">
        <ul class="fav-coin">
            <li v-for="fav in me.favourites"><button class="fav-delete"
                    @click="delFav(fav.name)">x</button>{{fav.name}}:</li>
        </ul>

        <ul class="fav-price">
            <li v-for="fav in me.favourites">${{fav.price}}</li>
        </ul>
    </div>

</div>