<div>
    <button class="nav-button" type="button" @click="pageChange(1)"> <span>Compare</span> </button>
    <button class="nav-button" type="button" @click="pageChange(4)"> Favourites </button>
    <button class="nav-button" type="button" @click="pageChange(2)"> Sign Up </button>
    <button class="nav-button" type="button" @click="pageChange(3)"> Sign In </button>
    <button class="nav-button" type="button" @click="logout"> Log Out </button>
</div>
